@media screen and (min-width:962px){
    body{
        background-color: grey;
    }
}

@media screen and (max-width:961px){
    body{
        background-color: orange;
    }
}

@media screen and (max-width:620px){
    body{
        background-color: lightblue;
    }
}

div{
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    width: 70%;
}
h1{
    padding: 20px;
}
p{
    padding: 20px;
    padding-top: 0;
}