body{
    background-color: black;
}
#contenedor-flexible>div{
    border-radius: 20px;
    border: 5px solid black;
    background-color: white;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 145px;
    color: gold;
    font-size: 55px;
    font-weight: bold;
}
#contenedor-flexible>{
    display: flex;
    float: right;
    align-content: center;
}