h1{
    font-size: 80px;
    color: #d9a234;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 12px;
    margin: 0px;
}

header{

    background: url('wall.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 223px;
  position: relative;

}

#h2{
    font-size: 26px;
    color: #fff6e7;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 90px;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
    margin-left: 5px;
}

footer{
    background-color: #444444;
    position: absolute;
  bottom: 0;
  width: 100%;
}
table{
    width: 100%;
}
td{
    width: 33%;
}

#td1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#td1>div {
    display: inline-block;
        text-align: left; /* requerido para alineación horizontal */
}

h3{
    font-size: 24px;
    color:#d9a234;
}
#td2{
    border: 2px #d9a234;
    text-align: center;
    border-left: 2px solid #d9a234;
    border-right: 2px solid #d9a234;
}

#td3{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
img{
    height: 50px;
    width: 100px;
    padding:20px;
}
#logo{
    width:100px;
    height: 100px;
}

#datos{
    padding-left: 20px;
    width: 50%;
    color:#d9a234;
}
#abeja{
    width: 100%;
    width: 50%;
}

#h1abajo{
    font-size: 40px;
}
